.pushlabs-callbutton {
  position: fixed;
  display: block;
  z-index: 9999;

  @media (min-width: 768px) {
    display: none !important;
  }

  &.pushlabs-callbutton-style--button {
    color: #fff;

    .pushlabs-callbutton-background {
      color: #03A9F4;
    }

    .pushlabs-callbutton-icon-pos {
      // fix the position
      margin-top: 2px;
    }

    .pushlabs-callbutton-border {
    }

    .pushlabs-callbutton-background-white {
      color: #fff;
    }

    .pushlabs-callbutton-shadow {
      text-shadow: 0px 2px 16px rgba(0, 0, 0, .35);
    }
  }

  &.pushlabs-callbutton-style--banner {
    width: 100%;
    bottom: 0;
    color: #fff;
    background-color: #03A9F4;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    display: block;

    i {
      margin-right: 7px;
    }
  }

  &.pushlabs-callbutton-size--small {
    transform: scale(0.75);

    &.pushlabs-callbutton-position--right {
      bottom: .75rem;
      right: .75rem;
    }

    &.pushlabs-callbutton-position--left {
      bottom: .75rem;
      left: .75rem;
    }

    &.pushlabs-callbutton-position--middle {
      bottom: .75rem;
      left: 50%;
      transform: scale(0.75) translateX(-50%);
    }
  }


  &.pushlabs-callbutton-size--medium {
    &.pushlabs-callbutton-position--right {
      bottom: 1.5rem;
      right: 1.5rem;
    }

    &.pushlabs-callbutton-position--left {
      bottom: 1.5rem;
      left: 1.5rem;
    }

    &.pushlabs-callbutton-position--middle {
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.pushlabs-callbutton-size--large {
    transform: scale(1.5);

    &.pushlabs-callbutton-position--right {
      bottom: 2rem;
      right: 2rem;
    }

    &.pushlabs-callbutton-position--left {
      bottom: 2rem;
      left: 2rem;
    }

    &.pushlabs-callbutton-position--middle {
      bottom: 2rem;
      left: 50%;
      transform: scale(1.5) translateX(-50%);
    }
  }

}
